<html>
<title>LOGIN</title>
<body>
    <header>
        <h1 class="w3-margin w3-jumbo">Register Now!</h1>
        <link rel = "stylesheet" href="/static/style.css">
    </header>
      <div class="resgistration">

      
      <label for="firstname"><b>Firstname</b></label>
      <input type="text" placeholder="Enter Firstname" name="firstname" required>
      <br> <br>
      
      <label for="lastname"><b>Lastname</b></label>
      <input type="text" placeholder="Enter Lastname" name="lastname" required>
      <br><br>

      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>
      <br><br>

      <label for="password"><b>Password</b></label>
      <input type="text" placeholder="Enter Password" name="password" required>

      <br><br><button type="button" class="registerbtn">Sign up</button>
      <br><br><button type="button" class="cancelbtn">cancel</button>

</html>
</body>