<html>
<title>LOGIN</title>
<body>
    <header>
        <h1 class="w3-margin w3-jumbo">Login Form</h1>
        <link rel = "stylesheet" href="/static/style.css">
    </header>
      <div class="login">

      <form id="login">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="user" required>
      <br> <br>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="pass" required><br>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
      
      <br><br><button type="submit">Login</button>
      <br><br><button type="button" class="cancelbtn">cancel</button>
      <br><br><a href="registration"><button type="button" class="regbtn">resgistration</button></a>
      
    </form>  
</div>
</body>
</html>